body .ui-autocomplete .ui-autocomplete-dropdown {
	position: absolute;
}

.ui-steps {
	padding-left: 20%;
}

.ui-steps-item .ui-menuitem-link .ui-steps-number {
	background-color: #000;
	color: #FFFFFF;
	display: inline-block;
	width: 30px;
	border-radius: 10px;
	margin-top: -10px;
	margin-bottom: 5px;
	position: relative;
	top: -3px;
}

#header {
	margin-top: -30px;
	background-color: Black;
}

#content {
	margin-top: -30px;
	background-color: Black;
	min-height: 400px;
}

/*  #footer {
	margin-top: -30px;
	background-color: Black;
}
 */
#mainContent {
	padding-left: 19%;
	padding-right: 19%;
	width: 100%;
	text-align: center;
}

.fa-star-o {
	color: yellow;
}

.imageInHeader {
	height: 200px;
}

.image {
	height: 350px;
}

.video {
	width: 700px;
	height: 500px;
}

.dataTable {
	width: 100%;
	text-align: center;
}

.topAligned {
	vertical-align: top;
}

.selected {
	background-color: brown;
	color: #FFF;
}

.order-table {
	border-style: groove;
}

.order-table-header {
	background: none repeat scroll 0 0 #E5E5E5;
	border-style: groove;
	padding: 16px;
}

.order-table-odd-row {
	background: none repeat scroll 0 0 #FFFFFFF;
	border-style: groove;
}

.order-table-even-row {
	background: none repeat scroll 0 0 #FFFFFFF;
	border-top: 1px solid #BBBBBB;
}