body a:hover {
	color: #ffb300;
	text-decoration: none;
}

body a {
	color: #dedede;
	text-decoration: none;
}

body .ui-datatable .ui-datatable-data>tr.ui-state-highlight {
	color: #FFB300;
}

body .ui-datatable .ui-datatable-header {
	border: none;
	background-color: #FFB300;
	color: black;
	font-size: 20px;
}

body .ui-datatable thead th {
	border: none;
	background-color: black;
}

body .ui-datatable .ui-datatable-data>tr>td {
	padding: 0px;
}

.fullWidth {
	width: 100%;
}

.verticalSeparator {
	background-color: #A8A8A8;
	margin-left: 10px;
	margin-right: 10px
}

body .ui-fieldset {
	background-color: black;
}

body .ui-paginator {
	border: none;
	background-color: black;
}

body .ui-dataview .ui-dataview-header {
	border: none;
	background-color: black;
}

body .ui-dataview .ui-dataview-content {
	border: none;
	background-color: black;
}

body .ui-panel .ui-panel-content {
	border: none;
	background-color: black;
}

body .ui-panel .ui-panel-titlebar {
	border: none;
	background-color: black;
}

body .ui-accordion .ui-accordion-content {
	border: none;
	background-color: black;
}

body .ui-datatable
	.ui-datatable-data>tr.ui-datatable-even {
	border: none;
	background-color: black;
}

body .ui-datatable
	.ui-datatable-data>tr.ui-datatable-odd {
	border: none;
	background-color: black;
}

body .ui-datatable .ui-datatable-data>tr {
	border: none;
	background-color: black;
}

body .ui-datagrid .ui-datagrid-content {
	border: none;
	background-color: black;
	padding: 0px;
}

.ui-g {
	padding-top: 20px;
	padding-bottom: 20px;
}

body .ui-autocomplete .ui-autocomplete-dropdown {
	position: absolute;
}

body .ui-autocomplete {
	width: 97%;
	margin-bottom: 30px;
	padding-left: 5%;
	padding-right: 5%;
}

.ui-steps {
	padding-left: 26%;
}

.ui-steps-item .ui-menuitem-link .ui-steps-number {
	background-color: #000;
	color: #FFFFFF;
	display: inline-block;
	width: 30px;
	border-radius: 10px;
	margin-top: -10px;
	margin-bottom: 5px;
	position: relative;
	top: -3px;
}

#header {
	margin-top: -30px;
	background-color: Black;
}

#content {
	margin-top: -20px;
	background-color: Black;
	min-height: 400px;
	padding-left: 10%;
	padding-right: 10%;
	width: 100%;
	text-align: center;
}

.fa-star-o {
	color: yellow;
}

.imageInHeader {
	height: 200px;
}

.imageInCatalogue {
	height: 275px;
	width: 195px;
}

.image {
	height: 275px;
	width: 183px;
}

.imageInGallery {
	height: 275px;
	margin-left: 55px;
	margin-top: 25px;
}

.video {
	width: 700px;
	height: 500px;
}

.dataTable {
	width: 100%;
}

.topAligned {
	vertical-align: top;
}

.noHeader thead {
	display: none;
}

.showtimeHour {
	border: 2px solid #ffb300;
	text-align: center;
	font-size: 30px;
	padding: 10px;
}

.showtimeHourHomePage {
	border: 2px solid #ffb300;
	text-align: center;
	font-size: 18px;
	padding: 5px;
}

.showtimeDay {
	text-align: center;
	font-size: 30px;
	padding: 10px;
}

.showtimeDayHomePage {
	text-align: center;
	font-size: 18px;
}